<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%=Event.eventName%></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%=Event.location%></h6>
    <p class="card-text"><%=Event.when%></br><%=Event.entranceFee%></p>
<<<<<<< HEAD
    <a href="#" class="card-link">See more</a>
    <a href="#" class="card-link">Runner List</a>
=======
    <a href="/event/<%=Event[i].id%>" class="card-link">See more</a>
>>>>>>> bc589cae3bc2f07de80d54bd141942cfbb1c7f9e
  </div>
</div>