<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Runner Index</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <header>
      <h1>Edit <%=runner.name%>'s Info</h1>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
    </header>
    <main>
      <h2>Runner Attributes:</h2>
      <form action="/runner/<%=runner._id%>?_method=PUT" method="POST">
        <input type="text"   name="name"     value="<%=runner.name%>"/><br/>
        <input type="text"   name="password" value="<%=runner.password%>/"><br/>
        <input type="text"   name="email"    value="<%=runner.email%>"/><br/>
        <input type="text"   name="age"      value="<%=runner.age%>"/><br/>
        <input type="text"   name="gender"   value="<%=runner.gender%>"/><br/>
        <input type="submit"                 value="Update"/>
      </form>

      <form action="/runner/<%=runner._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
    </main>
</body>
</html>
